<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div class="container text-center mt-5">
  <h1 class="mb-4">Welcome to Express Cinema 🎬</h1>
  <p class="lead">Browse our collection of movies and find showtimes</p>
  
  <a href="/movies" class="btn btn-primary btn-lg mt-3">Check out the Movies</a>
</div>